
10.1.1.1     router
10.1.1.2     media-laptop
10.1.1.3     samsung
10.1.1.4     hp
10.1.1.5     ltsp
10.1.1.6     rpi
10.1.1.7     vserver001
10.1.1.8     vserver002
MYIP   hunter

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
